.footer_section {
  background: #120b48;
  padding: 6.12rem 8.12rem;

  .footer_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    ul {
      h3 {
        color: #fff;
        font-family: Sora;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      li {
        color: #fff;
        font-family: Work Sans;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
